<section class=" flex justify-center flex-col gap-7 p-5">
    <div>
        ùzljfdp
    </div>

    <div  class="flex gap-5">
        <div class="container lg:w-1/2">
            <div class="grid grid-cols-2">
                <app-progress-bar [progress]="6" name="zokok"></app-progress-bar>
                <app-progress-bar></app-progress-bar>
                <app-progress-bar></app-progress-bar>
                <app-progress-bar></app-progress-bar>
                <app-progress-bar></app-progress-bar>
                <app-progress-bar></app-progress-bar>
            </div>
        </div>

        <div class="container lg:w-1/2" >
            <img class="w-1/2" src="assets/CV.png " alt="">
        </div>
    </div>


</section>